.gItem{
    display: inline-block;    
    /* height:150px;
    width: 100px; */
}

.imageContainer{
    position: relative;
    margin: 10px;
}

.gImageContainer{
    height: 20px;
    width: 200px;
}

.gImage{
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
}

.gButton{
    display: inline-block;
    margin: 2px;    
}

.gP{
    display: block;
}

.gallery{
    display: inline-block;
}

.imageOverlay{
    /* position: absolute; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.75;
    overflow: hidden;
    width: 100%;
    height: 98%;    
    animation: scaleUp .3s ease-in-out;
}

.imageGoAway{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    height: 98%;    
    animation: scaleDown .3s ease forwards;
}

.imageContainer:hover .imageGoAway{
    opacity: 0.5;
}

/* .imageContainer:hover .imageOverlay {
    transform: scale(1);
} */

.imageText{
    color:white;
    font-size: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes scaleUp {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes scaleDown {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}